<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <title>Trang quản trị</title>
    <link href="~/Content/myStyle/Admin.css" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <div class="hd2" style="font-size:50px"><p>Quản trị tin tức</p></div>
        <div class="nav" style="margin-top: 10px">
            <a href="/Admin/Index" style="margin-right: 10px; color: black; background-color: #facb81; text-decoration:none">Danh sách</a>
            <a href="/Admin/Create" style="margin-right: 10px; color: black; background-color: #facb81; text-decoration: none">Tạo mới</a>
            <a href="/AdminAcc/Login" style="color: black; background-color: #facb81; text-decoration: none">Đăng xuất</a>
        </div>
    </div>

    <main style="padding: 20px;">
        @RenderBody()
    </main>
</body>
</html>
