@model ProjectNew.Models.News

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}

<h2 style="color:#ff7a18;">@Model.Header</h2>

<p><i>Ngày đăng: @Model.Posted.ToString()</i></p>

<div style="margin-top: 12px;">
    @Model.Content
</div>

<br />
<a href="/Save/Save/@Model.NewsId" class="read-more">Lưu bài viết</a>

